---
layout: home
titleAfter: "The Best Value Garage Door option in Toronto"
---

<div class="row page-margin-top-section padding-bottom-66">
  <h2 class="box-header">WHY CHOOSE UPTOWN DOORS</h2>
  <p class="description align-center">Founded by George Schneider in 1971, {{site.data.content.brand_name}} has established itself as one of the most reliable <br> and value-driven options in the Greater Toronto Area for Garage Doors Installations and Repairs.</p>
  <div class="row page-margin-top">
    <div class="column column-1-3">
      <ul class="features-list big">
        <li class="sl-large-briefcase">
          <div class="ornament"></div>
          <h4 class="box-header page-margin-top">OVER 40 YEARS IN BUSINESS</h4>
          <p>
            We have have been leaving happy customers, for repairs or new door installations, for two generations.
          </p>
        </li>
      </ul>
    </div>
    <div class="column column-1-3">
      <ul class="features-list big">
        <li class="sl-large-garage">
          <div class="ornament"></div>
          <h4 class="box-header page-margin-top">TOP QUALITY PARTS AND PRODUCTS</h4>
          <p>We believe in Quality. Our materials are made to last, so you can worry about more important matters.</p>
        </li>
      </ul>
    </div>
    <div class="column column-1-3">
      <ul class="features-list big">
        <li class="sl-large-team">
          <div class="ornament"></div>
          <h4 class="box-header page-margin-top">PROFESSIONAL STANDARDS</h4>
          <p>{{site.data.content.brand_name}} believes in professional service with a smile. Our customers are important to us, and we strive to bring utmost statisfaction.</p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row gray padding-top-70 full-width page-margin-top-section">
  <div class="row">
    <h2 class="box-header">SEE OUR PRODUCTS</h2>
    <p class="description align-center">Here are a few of many products we have offered for our customers. We provide a professional service<br>which includes a consultation, free estimate, supply of materials, and installation.</p>
  </div>
  <ul class="projects-list clearfix page-margin-top">
    {% include _home-products.html %}
  </ul>
</div>

<div class="row gray full-width padding-top-54 padding-bottom-61 align-center">
  <h3><span class="button-label">EXPLORE OUR INVENTORY</span> <a class="more" href="{{site.baseurl}}/products/" title="VIEW ALL PRODUCTS">VIEW ALL PRODUCTS</a></h3>
</div>

<div class="row full-width page-padding-top-section">
  <div class="row padding-bottom-87">
    <h2 class="box-header">OUR SERVICES</h2>
    <p class="description align-center">With skilled technicians with over 15 years experience in the industry, we will find the exact problem and fix it at the lowest possible cost.<br>We also provide quality customer service as well as offering great value for products and parts.</p>
    {% include _services-list.html %}
  </div>
</div>

<div class="row full-width padding-top-70 padding-bottom-66 parallax parallax-1">
  <div class="row testimonials-container">
    <a href="#" class="slider-control left template-arrow-left-1"></a>
    <ul class="testimonials-list">
      <li class="sl-small-conversation">
        <div class="ornament"></div>
        <p>"{{site.data.content.testimonial1}}"</p>
        <div class="author">{{site.data.content.testimonial1_author}}</div>
        <div class="author-details">{{site.data.content.testimonial1_details}}</div>
      </li>
      <li class="sl-small-conversation">
        <div class="ornament"></div>
        <p>"{{site.data.content.testimonial2}}"</p>
        <div class="author">{{site.data.content.testimonial2_author}}</div>
        <div class="author-details">{{site.data.content.testimonial2_details}}</div>
      </li>
      <li class="sl-small-conversation">
        <div class="ornament"></div>
        <p>"{{site.data.content.testimonial3}}"</p>
        <div class="author">{{site.data.content.testimonial3_author}}</div>
        <div class="author-details">{{site.data.content.testimonial3_details}}</div>
      </li>
    </ul>
    <a href="#" class="slider-control right template-arrow-left-1"></a>
  </div>
</div>
