---
layout: base
title: Our Garage Door Products
---

<div class="theme-page padding-bottom-70">
  <div class="row gray full-width page-header vertical-align-table">
    <div class="row full-width padding-top-bottom-50 vertical-align-cell">
      <div class="row">
        <div class="align-center">
          <h1>OUR PRODUCTS</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix">
    <div class="row">
      <ul class="tabs-navigation small gray isotope-filters margin-top-70">
        <li><a href="#filter-*" title="All Products">All Products</a></li>
        <li><a href="#filter-wood" title="Wood Doors">Residential Wood Garage Doors</a></li>
        <li><a href="#filter-steel" title="Steel Doors">Residential Steel Garage Doors</a></li>
        <li><a href="#filter-opener" title="Openers">Garage Door Openers</a></li>
      </ul>
      <ul class="projects-list isotope">

        {% include _steel-products.html %}
        {% include _openers-products.html %}
        {% include _wood-products.html %}

      </ul>
    </div>
  </div>
</div>
