---
layout: base
title: Our Garage Door Products
meta: Browse through a list of our products, including garage doors, and garage door openers.
---

<div class="theme-page padding-bottom-70">
  <div class="row gray full-width page-header vertical-align-table">
    <div class="row full-width padding-top-bottom-50 vertical-align-cell">
      <div class="row">
        <div class="align-center">
          <h1>GARAGE DOORS AND OPENERS</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix">
    <div class="row">
      <ul class="tabs-navigation small gray isotope-filters margin-top-70">
        <li><a href="#filter-*" title="All Products">All Products</a></li>
        <li><a href="#filter-wood" title="Wood Doors">Wood Garage Doors</a></li>
        <li><a href="#filter-steel" title="Steel Doors">Steel Garage Doors</a></li>
        <li><a href="#filter-opener" title="Openers">Garage Door Openers</a></li>
      </ul>
      <ul class="projects-list isotope">

        {% include _steel-products.html %}
        {% include _openers-products.html %}
        {% include _wood-products.html %}

        <li class="other">
          <a href="{{site.baseurl}}/products/other/aluminum/">
            <img src="{{site.baseurl}}/images/products/other/aluminum.jpg" alt="An Aluminum Garage Door">
          </a>
          <div class="view align-center">
            <div class="vertical-align-table">
              <div class="vertical-align-cell">
                <p class="description">Aluminum Door</p>
                <a class="more simple" href="{{site.baseurl}}/products/other/aluminum/" title="VIEW PROJECT">VIEW PROJECT</a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
