<li>
  <a href="{{site.baseurl}}/products/steel/accent-planks/" title="Accent Planks Steel Door">
    <img src="{{site.baseurl}}/images/products/accent-planks.jpg" alt="accent planks steel garage door"/>
  </a>
  <div class="view align-center">
    <div class="vertical-align-table">
      <div class="vertical-align-cell">
        <p class="description">Accent Planks Steel Door</p>
        <a href="{{site.baseurl}}/products/steel/accent-planks/" class="more simple">View Project</a>
      </div>
    </div>
  </div>
</li>

<li>
  <a href="{{site.baseurl}}/products/steel/carriage-house-5300-5600/" title="Carriage House 5300/5600 Steel Door">
    <img src="{{site.baseurl}}/images/products/carriage-house-5300.jpg" alt="Carriage House 5300/5600 steel garage door"/>
  </a>
  <div class="view align-center">
    <div class="vertical-align-table">
      <div class="vertical-align-cell">
        <p class="description">Carriage House 5300/5600 Steel Door</p>
        <a href="{{site.baseurl}}/products/steel/carriage-house-5300-5600/" class="more simple">View Project</a>
      </div>
    </div>
  </div>
</li>

<li>
  <a href="{{site.baseurl}}/products/wood/overlay-coach-house-700" title="Overlay Coach House Door Model 700">
    <img src="{{site.baseurl}}/images/products/wood/overlay-coach-house-700.jpg" alt="Overlay Coach House Door Model 700"/>
  </a>
  <div class="view align-center">
    <div class="vertical-align-table">
      <div class="vertical-align-cell">
        <p class="description">Overlay Coach House Door Model 700</p>
        <a href="{{site.baseurl}}/products/wood/overlay-coach-house-700" class="more simple">View Project</a>
      </div>
    </div>
  </div>
</li>

<li>
  <a href="{{site.baseurl}}/products/steel/raised-panel-steel/" title="Raised Panel Steel Door">
    <img src="{{site.baseurl}}/images/products/raised-panel-steel.jpg" alt="raised panel steel garage door"/>
  </a>
  <div class="view align-center">
    <div class="vertical-align-table">
      <div class="vertical-align-cell">
        <p class="description">Raised Panel Steel Door</p>
        <a href="{{site.baseurl}}/products/steel/raised-panel-steel/" class="more simple">View Project</a>
      </div>
    </div>
  </div>
</li>
