<div class="mobile-menu-container">
  <div class="mobile-menu-divider"></div>
  <nav>
    <ul class="mobile-menu collapsible-mobile-submenus">
      <li class="{% if page.url == '/' %} selected {% endif %}">
        <a href="{{site.baseurl}}/" title="Home">
          HOME
        </a>
      </li>
      <li class="{% if page.url contains 'services' %} selected {% endif %}">
        <a href="{{site.baseurl}}/services" title="Services">
          SERVICES
        </a>
        <a href="#" class="template-arrow-menu"></a>
        <ul>
          <li class="{% if page.url contains 'repairs' %} selected {% endif %}">
            <a href="{{site.baseurl}}/services/repairs" title="Repairs">
              Repairs
            </a>
          </li>
          <li class="{% if page.url contains 'installations' %} selected {% endif %}">
            <a href="{{site.baseurl}}/services/installations" title="Installations">
              Installations
            </a>
          </li>
        </ul>
      </li>
      <li class="{% if page.url contains 'products' %} selected {% endif %}">
        <a href="{{site.baseurl}}/products" title="Products">
          PRODUCTS
        </a>
      </li>
      <li class="{% if page.url contains 'about' %} selected {% endif %}">
        <a href="{{site.baseurl}}/about" title="About">
          ABOUT
        </a>
      </li>
      <li class="{% if page.url contains 'contact' %} selected {% endif %}">
        <a href="{{site.baseurl}}/contact" title="Contact">
          CONTACT
        </a>
      </li>
    </ul>
  </nav>
</div>
