<li class="opener">
  <a href="{{site.baseurl}}/products/openers/model-8165/" title="Model 8165">
    <img src="{{site.baseurl}}/images/products/openers/model-8165.jpg" alt="model-8165">
  </a>
  <div class="view align-center">
    <div class="vertical-align-table">
      <div class="vertical-align-cell">
        <p class="description">Model 8165</p>
        <a class="more simple" href="{{site.baseurl}}/products/openers/model-8165/" title="VIEW PROJECT">VIEW PROJECT</a>
      </div>
    </div>
  </div>
</li>

<li class="opener">
  <a href="{{site.baseurl}}/products/openers/model-8355/" title="Model 8355">
    <img src="{{site.baseurl}}/images/products/openers/model-8355.jpg" alt="model-8355">
  </a>
  <div class="view align-center">
    <div class="vertical-align-table">
      <div class="vertical-align-cell">
        <p class="description">Model 8355</p>
        <a class="more simple" href="{{site.baseurl}}/products/openers/model-8355/" title="VIEW PROJECT">VIEW PROJECT</a>
      </div>
    </div>
  </div>
</li>

<li class="opener">
  <a href="{{site.baseurl}}/products/openers/model-8550/" title="Model 8550">
    <img src="{{site.baseurl}}/images/products/openers/model-8550.jpg" alt="model-8550">
  </a>
  <div class="view align-center">
    <div class="vertical-align-table">
      <div class="vertical-align-cell">
        <p class="description">Model 8550</p>
        <a class="more simple" href="{{site.baseurl}}/products/openers/model-8550/" title="VIEW PROJECT">VIEW PROJECT</a>
      </div>
    </div>
  </div>
</li>

<li class="opener">
  <a href="{{site.baseurl}}/products/openers/model-8557/" title="Model 8557">
    <img src="{{site.baseurl}}/images/products/openers/model-8557.jpg" alt="model-8557">
  </a>
  <div class="view align-center">
    <div class="vertical-align-table">
      <div class="vertical-align-cell">
        <p class="description">Model 8557</p>
        <a class="more simple" href="{{site.baseurl}}/products/openers/model-8557/" title="VIEW PROJECT">VIEW PROJECT</a>
      </div>
    </div>
  </div>
</li>
