<ul class="pricing_table">
	<li>
		<h3>Budget</h3>
		<div class="price_body">
			<div class="price">
				$750
			</div>
		</div>
		<div class="features">
			<ul>
				<li>Premium Profile Listing</li>
				<li>Unlimited File Access</li>
				<li>Free Appointments</li>
				<li><strong>5 Bonus Points</strong> every month</li>
				<li>Customizable Profile Page</li>
				<li><strong>2 months</strong> support</li>
			</ul>
		</div>
		<div class="footer">
			<a href="#" class="more">Get Started</a>
		</div>
	</li>
	<!-- Active/Hover styles -->
	<li class="active">
		<h3>Professional</h3>
		<div class="price_body">
			<div class="price">
				<span class="price_figure">$1000</span>
				<span class="price_term">(Best Seller)</span>
			</div>
		</div>
		<div class="features">
			<ul>
				<li>Premium Profile Listing</li>
				<li>Unlimited File Access</li>
				<li>Free Appointments</li>
				<li><strong>20 Bonus Points</strong> every month</li>
				<li>Customizable Profile Page</li>
				<li><strong>6 months</strong> support</li>
			</ul>
		</div>
		<div class="footer">
			<a href="#" class="more">Get Started</a>
		</div>
	</li>
	<li>
		<h3>Luxury</h3>
		<div class="price_body">
			<div class="price">
				<span class="price_figure">$1500</span>
			</div>
		</div>
		<div class="features">
			<ul>
				<li>Premium Profile Listing</li>
				<li>Unlimited File Access</li>
				<li>Free Appointments</li>
				<li><strong>50 Bonus Points</strong> every month</li>
				<li>Customizable Profile Page</li>
				<li><strong>Lifetime</strong> support</li>
			</ul>
		</div>
		<div class="footer">
			<a href="#" class="more">Get Started</a>
		</div>
	</li>
	<!-- To prevent .pricing_table height collapse(as its children are floated) -->
	<div class="clr"></div>
</ul>
