<div class="col-sm-4">
  <div class="pricing-simple">
    <h4>Budget</h4>
    <h3><sup>$</sup> 750</h3>
    <ul>
      <li>8x7 Single Door</li>
      <li>Basic Installation</li>
      <li>Non-insulated door</li>
      <li>Plastic Rollers</li>
      <li>No Reinforcement strut</li>
      <li>1-year warranty</li>
      <li>Standard Colour</li>
      <li> &nbsp;</li>
    </ul>
    <div class="bottom">
      <a href="{{site.baseurl}}/contact/#contact-us" class="btn-theme">Get Started</a>
    </div>
  </div>
</div><!--price col end-->
<div class="col-sm-4">
  <div class="pricing-simple popular">
    <span class="ribbon">Popular</span>
    <h4>Professional</h4>
    <h3><sup>$</sup> 1000</h3>
    <ul>
      <li>8x7 Single Door</li>
			<li>Basic Installation</li>
			<li>Insulated door/layed-in foam</li>
			<li>10 ball-bearing Nylon Rollers</li>
			<li>Reinforcement strut</li>
			<li>3-year warranty</li>
			<li>Standard Colour</li>
			<li> &nbsp; </li>
    </ul>
    <div class="bottom">
      <a href="{{site.baseurl}}/contact/#contact-us" class="btn-theme">Get Started</a>
    </div>
  </div>
</div><!--price col end-->
<div class="col-sm-4">
  <div class="pricing-simple">
    <h4>Deluxe</h4>
    <h3><sup>$</sup> 1350</h3>
    <ul>
      <li>8x7 Single Door</li>
			<li>Basic Installation</li>
			<li>Polyurothene Insulation</li>
			<li>Full insulated Window</li>
			<li>10 ball-bearing Nylon Rollers</li>
			<li>Reinforcement strut</li>
			<li>3-year warranty</li>
			<li>Standard Colour</li>
    </ul>
    <div class="bottom">
      <a href="{{site.baseurl}}/contact/#contact-us" class="btn-theme">Get Started</a>
    </div>
  </div>
</div>
