<ul class="pricing_table">
	<li>
		<h3>Budget</h3>
		<div class="price_body">
			<div class="price">
				$750
			</div>
		</div>
		<div class="features">
			<ul>
				<li>8x7 Single Door</li>
				<li>Basic Installation</li>
				<li>Non-insulated door</li>
				<li>Plastic Rollers</li>
				<li>No Reinforcement strut</li>
				<li>1-year warranty</li>
				<li>Standard Colour</li>
				<li> &nbsp;</li>
			</ul>
		</div>
		<div class="footer">
			<a href="{{site.baseurl}}/contact/#contact-us" class="more">Get Started</a>
		</div>
	</li>
	<!-- Active/Hover styles -->
	<li class="active">
		<h3>Professional</h3>
		<div class="price_body">
			<div class="price">
				<span class="price_figure">$1000</span>
				<span class="price_term">(Best Seller)</span>
			</div>
		</div>
		<div class="features">
			<ul>
				<li>8x7 Single Door</li>
				<li>Basic Installation</li>
				<li>Insulated door/layed-in foam</li>
				<li>10 ball-bearing Nylon Rollers</li>
				<li>Reinforcement strut</li>
				<li>3-year warranty</li>
				<li>Standard Colour</li>
				<li> &nbsp; </li>
			</ul>
		</div>
		<div class="footer">
			<a href="{{site.baseurl}}/contact/#contact-us" class="more">Get Started</a>
		</div>
	</li>
	<li>
		<h3>Luxury</h3>
		<div class="price_body">
			<div class="price">
				<span class="price_figure">$1350</span>
			</div>
		</div>
		<div class="features">
			<ul>
				<li>8x7 Single Door</li>
				<li>Basic Installation</li>
				<li>Polyurothene Insulation</li>
				<li>Full insulated Window</li>
				<li>10 ball-bearing Nylon Rollers</li>
				<li>Reinforcement strut</li>
				<li>3-year warranty</li>
				<li>Standard Colour</li>
			</ul>
		</div>
		<div class="footer">
			<a href="{{site.baseurl}}/contact/#contact-us" class="more">Get Started</a>
		</div>
	</li>
	<!-- To prevent .pricing_table height collapse(as its children are floated) -->
	<div class="clr"></div>
</ul>
