<ul class="services-list services-icons{% if page.url contains 'services' %} services-items-border {% endif %} {% if page.url == '/' %} page-margin-top {% endif %} row clearfix">
  <li>
    <a href="{{site.baseurl}}/products/">
      <span class="service-icon sl-small-garage"></span>
    </a>
    <div class="service-content">
      <h4 class="box-header"><a href="{{site.baseurl}}/products/">PURCHASE A NEW DOOR</a></h4>
      <p>Browse our products and choose a door that's right for your home!</p>
    </div>
  </li>
  <li>
    <a href="{{site.baseurl}}/services/installations/">
      <span class="service-icon sl-small-truck"></span>
    </a>
    <div class="service-content">
      <h4 class="box-header"><a href="{{site.baseurl}}">HAVE A GARAGE DOOR INSTALLED</a></h4>
      <p>Some of the best value for installation in the city!</p>
    </div>
  </li>
</ul>
<ul class="services-list services-icons {% if page.url contains 'services' %} services-items-border {% endif %} row clearfix margin-top-30">
  <li>
    <a href="{{site.baseurl}}/services/repairs" title="Household Repairs">
      <span class="service-icon sl-small-cart-1"></span>
    </a>
    <div class="service-content">
      <h4 class="box-header"><a href="{{site.baseurl}}/services/repairs/" title="Household Repairs">REPLACE FAULTY PARTS</a></h4>
      <p>We source from the most reliable manufacturers, so your new parts are guarenteed to last.</p>
    </div>
  </li>
  <li>
    <a href="{{site.baseurl}}/services/repairs/" title="Solar Systems">
      <span class="service-icon sl-small-wrenches"></span>
    </a>
    <div class="service-content">
      <h4 class="box-header"><a href="{{site.baseurl}}/services/repairs/" title="Solar Systems">REPAIRS</a></h4>
      <p>We haven't met a door we didn't like - or couldn't fix!</p>
    </div>
  </li>
</ul>
