<li class="steel">
  <a href="{{site.baseurl}}/products/steel/recessed-panel-steel/" title="Recessed Panel Steel Door">
    <img src="{{site.baseurl}}/images/products/recessed-panel-steel.jpg" alt="recessed panel steel garage door"/>
  </a>
  <div class="view align-center">
    <div class="vertical-align-table">
      <div class="vertical-align-cell">
        <p class="description">Recessed Panel Steel Door</p>
        <a href="{{site.baseurl}}/products/steel/recessed-panel-steel/" class="more simple">View Project</a>
      </div>
    </div>
  </div>
</li>

<li class="steel">
  <a href="{{site.baseurl}}/products/steel/accent-planks/" title="Accent Planks Steel Door">
    <img src="{{site.baseurl}}/images/products/accent-planks.jpg" alt="accent planks steel garage door"/>
  </a>
  <div class="view align-center">
    <div class="vertical-align-table">
      <div class="vertical-align-cell">
        <p class="description">Accent Planks Steel Door</p>
        <a href="{{site.baseurl}}/products/steel/accent-planks/" class="more simple">View Project</a>
      </div>
    </div>
  </div>
</li>

<li class="steel">
  <a href="{{site.baseurl}}/products/steel/carriage-house-5200-5900/" title="Carriage House 5200/5900 Steel Door">
    <img src="{{site.baseurl}}/images/products/carriage-house-5200.jpg" alt="Carriage House 5200/5900 steel garage door"/>
  </a>
  <div class="view align-center">
    <div class="vertical-align-table">
      <div class="vertical-align-cell">
        <p class="description">Carriage House 5200/5900 Steel Door</p>
        <a href="{{site.baseurl}}/products/steel/carriage-house-5200-5900/" class="more simple">View Project</a>
      </div>
    </div>
  </div>
</li>

<li class="steel">
  <a href="{{site.baseurl}}/products/steel/carriage-house-5300-5600/" title="Carriage House 5300/5600 Steel Door">
    <img src="{{site.baseurl}}/images/products/carriage-house-5300.jpg" alt="Carriage House 5300/5600 steel garage door"/>
  </a>
  <div class="view align-center">
    <div class="vertical-align-table">
      <div class="vertical-align-cell">
        <p class="description">Carriage House 5300/5600 Steel Door</p>
        <a href="{{site.baseurl}}/products/steel/carriage-house-5300-5600/" class="more simple">View Project</a>
      </div>
    </div>
  </div>
</li>

<li class="steel">
  <a href="{{site.baseurl}}/products/steel/carriage-house-5500-5800/" title="Carriage House 5500/5800 Steel Door">
    <img src="{{site.baseurl}}/images/products/carriage-house-5500.jpg" alt="Carriage House 5500/5800 steel garage door"/>
  </a>
  <div class="view align-center">
    <div class="vertical-align-table">
      <div class="vertical-align-cell">
        <p class="description">Carriage House 5500/5800 Steel Door</p>
        <a href="{{site.baseurl}}/products/steel/carriage-house-5500-5800/" class="more simple">View Project</a>
      </div>
    </div>
  </div>
</li>

<li class="steel">
  <a href="{{site.baseurl}}/products/steel/therma-classic/" title="Therma Classic Steel Door">
    <img src="{{site.baseurl}}/images/products/thermal-classic.jpg" alt="Therma Classic steel garage door"/>
  </a>
  <div class="view align-center">
    <div class="vertical-align-table">
      <div class="vertical-align-cell">
        <p class="description">Therma Classic Steel Door</p>
        <a href="{{site.baseurl}}/products/steel/therma-classic/" class="more simple">View Project</a>
      </div>
    </div>
  </div>
</li>
<li class="steel">
  <a href="{{site.baseurl}}/products/steel/raised-panel-steel/" title="Raised Panel Steel Door">
    <img src="{{site.baseurl}}/images/products/raised-panel-steel.jpg" alt="raised panel steel garage door"/>
  </a>
  <div class="view align-center">
    <div class="vertical-align-table">
      <div class="vertical-align-cell">
        <p class="description">Raised Panel Steel Door</p>
        <a href="{{site.baseurl}}/products/steel/raised-panel-steel/" class="more simple">View Project</a>
      </div>
    </div>
  </div>
</li>
