<div class="header-top-bar-container clearfix">
  <div class="header-top-bar">
    <ul class="contact-details clearfix">
      <li class="template-phone">
        <a href="tel:+149752322235">+149 75 23 222 35</a>
      </li>
      <li class="template-mail">
        <a href="mailto:renovate@mail.com">renovate@mail.com</a>
      </li>
      <li class="template-clock">
        Mon - Fri: 08.00 - 17.00
      </li>
    </ul>
    <ul class="social-icons">
      <li>
        <a target="_blank" href="https://www.facebook.com/Uptown-Garage-Doors-722603091215543/" class="social-facebook"></a>
      </li>
      <li>
        <a target="_blank" href="https://plus.google.com/110063213346729599866" class="social-google-plus"></a>
      </li>
      <li>
        <a target="_blank" href="https://www.linkedin.com/company/uptown-garage-doors" class="social-linkedin"></a>
      </li>
      <li>
        <a target="_blank" href="https://www.houzz.com/pro/uptowndoors/uptown-garage-doors" class="social-houzz"></a>
      </li>
    </ul>
  </div>
  <a href="#" class="header-toggle template-arrow-up"></a>
</div>
