<div class="header-top-bar-container clearfix">
  <div class="header-top-bar">
    <ul class="contact-details clearfix">
      <li class="template-phone">
        <a href="tel:+149752322235">+149 75 23 222 35</a>
      </li>
      <li class="template-mail">
        <a href="mailto:renovate@mail.com">renovate@mail.com</a>
      </li>
      <li class="template-clock">
        Mon - Fri: 08.00 - 17.00
      </li>
    </ul>
    <ul class="social-icons">
      <li>
        <a target="_blank" href="http://facebook.com/QuanticaLabs" class="social-facebook" title="facebook"></a>
      </li>
      <li>
        <a title="" href="http://themeforest.net/user/QuanticaLabs?ref=QuanticaLabs" class="social-google-plus"></a>
      </li>
      <li>
        <a title="" href="http://themeforest.net/user/QuanticaLabs?ref=QuanticaLabs" class="social-linkedin"></a>
      </li>
      <li>
        <a title="" href="http://themeforest.net/user/QuanticaLabs?ref=QuanticaLabs" class="social-houzz"></a>
      </li>
    </ul>
  </div>
  <a href="#" class="header-toggle template-arrow-up"></a>
</div>
