<li class="wood">
  <a href="{{site.baseurl}}/products/wood/mahogany/">
    <img src="{{site.baseurl}}/images/products/wood/mahogany.jpg" alt="Wood Mahogany Door">
  </a>
  <div class="view align-center">
    <div class="vertical-align-table">
      <div class="vertical-align-cell">
        <p class="description">Wood Mahogany Door</p>
        <a class="more simple" href="{{site.baseurl}}/products/wood/mahogany/" title="VIEW PROJECT">VIEW PROJECT</a>
      </div>
    </div>
  </div>
</li>

<li class="wood">
  <a href="{{site.baseurl}}/products/wood/polypro/" title="Interior Renovation">
    <img src="{{site.baseurl}}/images/products/wood/polypro.jpg" alt="Wood Polypro Door">
  </a>
  <div class="view align-center">
    <div class="vertical-align-table">
      <div class="vertical-align-cell">
        <p class="description">Wood Polypro Door</p>
        <a class="more simple" href="{{site.baseurl}}/products/wood/polypro/" title="VIEW PROJECT">VIEW PROJECT</a>
      </div>
    </div>
  </div>
</li>

<li class="wood">
  <a href="{{site.baseurl}}/products/wood/coach-house-501/" title="Interior Renovation">
    <img src="{{site.baseurl}}/images/products/wood/coach-house-501-5123.jpg" alt="Coach House Door 501-512">
  </a>
  <div class="view align-center">
    <div class="vertical-align-table">
      <div class="vertical-align-cell">
        <p class="description">Coach House Door 501-512</p>
        <a class="more simple" href="{{site.baseurl}}/products/wood/coach-house-501/" title="VIEW PROJECT">VIEW PROJECT</a>
      </div>
    </div>
  </div>
</li>
