<li class="wood">
  <a href="{{site.baseurl}}/products/wood/coach-house-501/" title="Couch House Door Model 501-512">
    <img src="{{site.baseurl}}/images/products/wood/coach-house-501-512.jpg" alt="Couch House Door Model 501-512"/>
  </a>
  <div class="view align-center">
    <div class="vertical-align-table">
      <div class="vertical-align-cell">
        <p class="description">Couch House Door Model 501-512</p>
        <a href="{{site.baseurl}}/products/wood/coach-house-501/" class="more simple">View Project</a>
      </div>
    </div>
  </div>
</li>

<li class="wood">
  <a href="{{site.baseurl}}/products/wood/mahogany/" title="Mahogany Door">
    <img src="{{site.baseurl}}/images/products/wood/mahogany.jpg" alt="Mahogany Door"/>
  </a>
  <div class="view align-center">
    <div class="vertical-align-table">
      <div class="vertical-align-cell">
        <p class="description">Mahogany Door</p>
        <a href="{{site.baseurl}}/products/wood/mahogany/" class="more simple">View Project</a>
      </div>
    </div>
  </div>
</li>

<li class="wood">
  <a href="{{site.baseurl}}/products/wood/polypro/" title="Polypro Door">
    <img src="{{site.baseurl}}/images/products/wood/polypro.jpg" alt="Polypro Door"/>
  </a>
  <div class="view align-center">
    <div class="vertical-align-table">
      <div class="vertical-align-cell">
        <p class="description">Polypro Door</p>
        <a href="{{site.baseurl}}/products/wood/polypro/" class="more simple">View Project</a>
      </div>
    </div>
  </div>
</li>





<li class="wood">
  <a href="{{site.baseurl}}/products/wood/coach-house-513-514/" title="Couch House Door Model 513/514">
    <img src="{{site.baseurl}}/images/products/wood/coach-house-513-514.jpg" alt="Couch House Door Model 513/514"/>
  </a>
  <div class="view align-center">
    <div class="vertical-align-table">
      <div class="vertical-align-cell">
        <p class="description">Couch House Door Model 513/514</p>
        <a href="{{site.baseurl}}/products/wood/coach-house-513-514/" class="more simple">View Project</a>
      </div>
    </div>
  </div>
</li>

<li class="wood">
  <a href="{{site.baseurl}}/products/wood/overlay-coach-house-600" title="Overlay Coach House Door Model 600">
    <img src="{{site.baseurl}}/images/products/wood/overlay-coach-house-600.jpg" alt="Overlay Coach House Door Model 600"/>
  </a>
  <div class="view align-center">
    <div class="vertical-align-table">
      <div class="vertical-align-cell">
        <p class="description">Overlay Coach House Door Model 600</p>
        <a href="{{site.baseurl}}/products/wood/overlay-coach-house-600" class="more simple">View Project</a>
      </div>
    </div>
  </div>
</li>

<li class="wood">
  <a href="{{site.baseurl}}/products/wood/overlay-coach-house-700" title="Overlay Coach House Door Model 700">
    <img src="{{site.baseurl}}/images/products/wood/overlay-coach-house-700.jpg" alt="Overlay Coach House Door Model 700"/>
  </a>
  <div class="view align-center">
    <div class="vertical-align-table">
      <div class="vertical-align-cell">
        <p class="description">Overlay Coach House Door Model 700</p>
        <a href="{{site.baseurl}}/products/wood/overlay-coach-house-700" class="more simple">View Project</a>
      </div>
    </div>
  </div>
</li>

<li class="wood">
  <a href="{{site.baseurl}}/products/wood/overlay-coach-house-800" title="Overlay Coach House Door Model 800">
    <img src="{{site.baseurl}}/images/products/wood/overlay-coach-house-800.jpg" alt="Overlay Coach House Door Model 800"/>
  </a>
  <div class="view align-center">
    <div class="vertical-align-table">
      <div class="vertical-align-cell">
        <p class="description">Overlay Coach House Door Model 800</p>
        <a href="{{site.baseurl}}/products/wood/overlay-coach-house-800" class="more simple">View Project</a>
      </div>
    </div>
  </div>
</li>
