<!-- Slider Revolution -->
<div class="revolution-slider-container">
	<div class="revolution-slider">
		<ul style="display: none;">
			<!-- SLIDE 1 -->
			<li data-transition="fade" data-masterspeed="500" data-slotamount="1" data-delay="6000">
				<!-- MAIN IMAGE -->
				<img src="{{site.baseurl}}/images/slider/two-car-garage-1920-600.jpg" alt="A two-car garage." data-bgfit="cover">
				<!-- LAYERS -->
				<div class="tp-caption"
					data-x="0"
					data-y="140"
					data-start="500"
					data-transform_in="x:40;y:0;o:0;s:1200;e:easeInOutExpo;"
					data-transform_out="x:0;y:0;o:0;s:500;e:easeInOutExpo;"
					>
					<div class="slider-content-box">
						<h2>GARAGE DOOR INSTALLATION AND REPAIRS</h2>
						<p>With over 40 years experience and a real focus on customer satisfaction, you can put your trust in us for your garage door needs.</p>
						<a class="more simple" href="{{site.baseurl}}/contact/#contact-us">REQUEST A QUOTE</a>
					</div>
				</div>
			</li>

			<!-- SLIDE 2 -->
			<li data-transition="fade" data-masterspeed="500" data-slotamount="1" data-delay="6000">
				<!-- MAIN IMAGE -->
				<img src="{{site.baseurl}}/images/slider/steel-woodtone-1920-600.jpg" alt="A steel garage door in wood-tone colour." data-bgfit="cover">
				<!-- LAYERS -->
				<div class="tp-caption"
					data-x="0"
					data-y="140"
					data-start="500"
					data-transform_in="x:40;y:0;o:0;s:1200;e:easeInOutExpo;"
					data-transform_out="x:0;y:0;o:0;s:500;e:easeInOutExpo;"
					>
					<div class="slider-content-box">
						<h2><a href="service_tiling_painting.html">OVER 25 GARAGE DOORS TO CHOOSE FROM</a></h2>
						<p>We have garage doors of all sizes and shapes. Made of steel, wood, or aluminum. We also offer reliable garage door openers.</p>
						<a class="more simple" href="{{site.baseurl}}/products/">BROWSE OUR SELECTION</a>
					</div>
				</div>
			</li>

			<!-- SLIDE 3 -->
			<li data-transition="fade" data-masterspeed="500" data-slotamount="1" data-delay="6000">
				<!-- MAIN IMAGE -->
				<img src="{{site.baseurl}}/images/slider/slider-img-1.jpg" alt="A beautiful house with 3 steel garage doors." data-bgfit="cover">
				<!-- LAYERS -->
				<div class="tp-caption"
					data-x="0"
					data-y="140"
					data-start="500"
					data-transform_in="x:40;y:0;o:0;s:1200;e:easeInOutExpo;"
					data-transform_out="x:0;y:0;o:0;s:500;e:easeInOutExpo;"
					>
					<div class="slider-content-box">
						<h2><a href="service_household_repairs.html">BEST VALUE FOR YOUR NEEDS</a></h2>
						<p>{{site.data.content.brand_name}} is one of the most affordable options around. We use our years of experience to get the job done efficiently and right. So you don't have to worry again about your house looking great.</p>
						<a class="more simple" href="{{site.baseurl}}/services/">SEE OUR SERVICES</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
