<!-- Slider Revolution -->
<div class="revolution-slider-container">
	<div class="revolution-slider">
		<ul style="display: none;">
			<!-- SLIDE 1 -->
			<li data-transition="fade" data-masterspeed="500" data-slotamount="1" data-delay="6000">
				<!-- MAIN IMAGE -->
				<img src="{{site.baseurl}}/images/slider/image_01.jpg" alt="slidebg1" data-bgfit="cover">
				<!-- LAYERS -->
				<div class="tp-caption"
					data-x="0"
					data-y="140"
					data-start="500"
					data-transform_in="x:40;y:0;o:0;s:1200;e:easeInOutExpo;"
					data-transform_out="x:0;y:0;o:0;s:500;e:easeInOutExpo;"
					>
					<div class="slider-content-box">
						<h2>GARAGE DOOR INSTALLATION AND REPAIRS</h2>
						<p>With over 40 years experience and a real focus on customer satisfaction, you can put your trust in us for your garage door needs.</p>
						<a class="more simple" href="{{site.baseurl}}/contact/#contact-us">REQUEST A QUOTE</a>
					</div>
				</div>
			</li>

			<!-- SLIDE 2 -->
			<li data-transition="fade" data-masterspeed="500" data-slotamount="1" data-delay="6000">
				<!-- MAIN IMAGE -->
				<img src="{{site.baseurl}}/images/slider/image_02.jpg" alt="slidebg2" data-bgfit="cover">
				<!-- LAYERS -->
				<div class="tp-caption"
					data-x="0"
					data-y="140"
					data-start="500"
					data-transform_in="x:40;y:0;o:0;s:1200;e:easeInOutExpo;"
					data-transform_out="x:0;y:0;o:0;s:500;e:easeInOutExpo;"
					>
					<div class="slider-content-box">
						<h2><a href="service_tiling_painting.html" title="TILING AND PAINTING">PROFESSIONAL TILING AND PAINTING SERVICES</a></h2>
						<p>We combine quality workmanship, superior knowledge and low prices to provide you with service unmatched by our competitors.</p>
						<a class="more simple" href="http://themeforest.net/item/renovate-construction-renovation-template/11313006?ref=QuanticaLabs" title="BUY THIS TEMPLATE">BUY THIS TEMPLATE</a>
					</div>
				</div>
			</li>

			<!-- SLIDE 3 -->
			<li data-transition="fade" data-masterspeed="500" data-slotamount="1" data-delay="6000">
				<!-- MAIN IMAGE -->
				<img src="{{site.baseurl}}/images/slider/image_03.jpg" alt="slidebg3" data-bgfit="cover">
				<!-- LAYERS -->
				<div class="tp-caption"
					data-x="0"
					data-y="140"
					data-start="500"
					data-transform_in="x:40;y:0;o:0;s:1200;e:easeInOutExpo;"
					data-transform_out="x:0;y:0;o:0;s:500;e:easeInOutExpo;"
					>
					<div class="slider-content-box">
						<h2><a href="service_household_repairs.html" title="HOUSEHOLD REPAIRS">YOUR MOST AFFORDABLE CONTRACTORS</a></h2>
						<p>We have the experience, personel and resources to make the project run smoothly. We can ensure a job is done on time.</p>
						<a class="more simple" href="http://themeforest.net/item/renovate-construction-renovation-template/11313006?ref=QuanticaLabs" title="BUY THIS TEMPLATE">BUY THIS TEMPLATE</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
