<!--js-->
<script type="text/javascript" src="{{site.baseurl}}/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/jquery-migrate-1.2.1.min.js"></script>
<!--slider revolution-->
<script type="text/javascript" src="{{site.baseurl}}/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/jquery.ba-bbq.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/jquery-ui-1.11.4.custom.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/jquery.easing.1.3.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/jquery.carouFredSel-6.2.1-packed.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/jquery.touchSwipe.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/jquery.transit.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/jquery.hint.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/jquery.parallax.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/jquery.qtip.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/jquery.blockUI.min.js"></script>
<script type="text/javascript" src="//maps.google.com/maps/api/js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/main.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/odometer.min.js"></script>
