<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% if page.title %}{{page.title}} | {% endif %}{{site.data.content.brand_name}} {% if page.titleAfter %} | {{page.titleAfter}} {% endif %}</title>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="format-detection" content="telephone=yes" />
	<meta name="keywords" content="Garage Doors, Toronto, GTA, Markham, Pickering, Richmond Hill, Garage, Doors" />
	<meta name="description" content="{% if page.meta %}{{page.meta}}{% else %}{{site.data.content.brand_name}} is the best value source for Garage Door repairs, installations. Servicing the Greater Toronto Area, we've been a family-run business for over 40 years.{% endif %}" />

  <link href='//fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,700,900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/rs-plugin/css/settings.css" media="screen" />
    {% include _fav-links.html %}

  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="{{site.baseurl}}/css/main.css" media="screen" title="no title" charset="utf-8"> -->
  <!-- <link rel="shortcut icon" href="{{site.baseurl}}/images/favicon.ico"> -->
  <meta name="description" content="{{page.meta}}">
</head>
<body>
  <div class="site-container">

    <!--<div class="header-container sticky">-->
    <div class="header-container">
      <div class="vertical-align-table column-1-1">
        <div class="header clearfix">
          <div class="logo vertical-align-cell">
            <a href="{{site.baseurl}}/">
              <!-- <img src="{{site.baseurl}}/images/logo/house-w-bush.png" alt="" class="logo" style="height:50%; width:50%"/> -->
              <img src="{{site.baseurl}}/images/logo/house-w-bush-lng.png" alt="Uptown Garage Doors logo" class="logo"/>
            </a>
          </div>
          <a href="#" class="mobile-menu-switch vertical-align-cell">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </a>
          <div class="menu-container clearfix vertical-align-cell">
            {% include _nav.html %}
            {% include _mobile-nav.html%}
          </div>
        </div>
      </div>
    </div>


    {{content}}

    {% include _footer.html %}

    <a href="#top" class="scroll-top animated-element template-arrow-up" title="Scroll to top"></a>

  </div>
  {% include scripts.html %}
</body>
</html>
