<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% if page.title %}{{page.title}} - {% endif %}Curtis' Garage Doors {% if page.titleAfter %} - {{page.titleAfter}} {% endif %}</title>
  <link rel="stylesheet" href="{{site.baseurl}}/css/common.css" media="screen" title="no title" charset="utf-8">
  <meta name="description" content="{{page.meta}}">
</head>
<body>

  <header>
    {% include _nav.html %}
  </header>

  {{content}}

  <footer>
    {% include _nav.html %}
  </footer>
</body>
</html>
