---
layout: base
---


<div class="theme-page">
  <div class="row gray full-width page-header vertical-align-table">
    <div class="row full-width padding-top-bottom-50 vertical-align-cell">
      <div class="row">
        <div class="page-header-left">
          <h1>{{page.service_type}}</h1>
        </div>
        <div class="page-header-right">
          <div class="bread-crumb-container">
            <ul class="bread-crumb">
              <li>
                <a title="Our Services" href="{{site.baseurl}}/services/">
                  SERVICES
                </a>
              </li>
              <li class="separator">
                &#47;
              </li>
              <li>
                {{page.service_type}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{content}}
</div>
